/node_modules
/public/hot
/public/storage
/public/images/movie/*.jpg
/public/images/movie/*.gif
/public/images/movie/*.png
/public/images/series/*.png
/public/images/playlist/*.jpg
/public/images/playlist/*.png
/public/images/playlist/*.gif
/public/images/banners/*.mp4
/public/images/banners/*.gif
/public/images/banners/*.png
/public/images/banners/*.jpg
/public/images/tv/*.jpg
/public/logo/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug
/public/page-cache